@model Blog1.Models.DetalhesPostViewModel
@section Scripts
{
    <script src="@Url.Content("~/Scripts/Views/Blog/Index.js")"></script>
}

<h2>@Model.Titulo</h2>
<div class="cabecalho-post">
    <div class="icone-calendario div-imagem"></div>
    @Model.DataPublicacao.ToString("dd/MM/yyyy HH:mm")
    @if (!string.IsNullOrWhiteSpace(Model.Autor))
    {
        <div class="icone-autor div-imagem"></div>
        @Model.Autor
    }
    <div class="icone-comentario div-imagem"></div>
    @Html.ActionLink(Model.QtdeComentarios.ToString(), "")
    <div class="icone-excluir div-imagem"></div>
    @Html.ActionLink("Excluir", "ExcluirPost", "Administracao", new { id = Model.Id }, new { @class = "excluir-post" })
</div>
<div class="descricao-post">
    @Model.Descricao
</div>
<div class="tags-post">
    <h3>Tags</h3>
    @foreach (var item in Model.Tags)
    {
        <li>
            @Html.ActionLink(item.Tag, "Index", "Blog", new {tag = item.Tag}, null)
        </li>
    }
</div>