@model Blog1.Models.PostViewModel
@{
    ViewBag.Title = "Cadastrar post";
}
@section Scripts
{
    <script src="@Url.Content("~/Scripts/Views/Administracao/CadastrarPost.js")"></script>
}
@using (Html.BeginForm())
{
    <h2>Cadastro de post</h2>
    @Html.ValidationSummary(true)
    <div class="form-group">
        @Html.LabelFor(m => m.Titulo)
        @Html.TextBoxFor(m => m.Titulo, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Titulo)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Autor)
        @Html.TextBoxFor(m => m.Autor, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Autor)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.DataPublicacao)
        @Html.TextBoxFor(m => m.DataPublicacao, "{0:yyyy-MM-dd}", new { @type = "date", @class = "form-control", style = "width: 200px" })
        @Html.ValidationMessageFor(m => m.DataPublicacao)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.HoraPublicacao)
        @Html.TextBoxFor(m => m.HoraPublicacao, "{0:HH:mm}", new { type = "time", @class = "form-control", style = "width: 200px" })
        @Html.ValidationMessageFor(m => m.HoraPublicacao)
    </div>
    <div class="checkbox">
        @Html.CheckBoxFor(m => m.Visivel)
        @Html.LabelFor(m => m.Visivel)
        @Html.ValidationMessageFor(m => m.Visivel)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Resumo)
        @Html.TextAreaFor(m => m.Resumo, new { rows = 8, @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Resumo)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Descricao)
        @Html.TextAreaFor(m => m.Descricao, new { rows = 8, @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Descricao)
    </div>

    <h2>Tags</h2>
    <div class="form-group cadastro-post">
        @Html.Label("Tag")
        @Html.TextBox("Tag", "", new { @class = "form-control", @style = "width: 200px" })
        <p>
            <input type="button" value="Adicionar" id="adicionar" class="btn btn-primary" />
        </p>
    </div>
    <div class="form-group">
        <ul id="resultado">
            @foreach (var item in Model.Tags)
            {
                <li>
                    <span>@item</span>
                    <a tag="@item" class="remover-tag icone-excluir" title="Remover"></a>
                </li>
                <input type="hidden" name="Tags" value="@item">
            }
        </ul>
    </div>

    <p>
        <input type="submit" value="Salvar" class="btn btn-primary" />
    </p>
}
